<p>dropdown works!</p>
<!-- <div mdbDropdown class="dropdown">
    <button
      class="btn btn-primary dropdown-toggle"
      type="button"
      id="dropdownMenuButton"
      aria-expanded="false"
      mdbDropdownToggle
    >
      Dropdown button
    </button>
    <ul mdbDropdownMenu class="dropdown-menu" aria-labelledby="dropdownMenuButton">
      <li><a class="dropdown-item" href="#">Action</a></li>
      <li><a class="dropdown-item" href="#">Another action</a></li>
      <li><a class="dropdown-item" href="#">Something else here</a></li>
    </ul>
  </div> -->
 <!-- <li class="nav-item dropdown">
          <a class="nav-link dropdown-toggle" routerLink="all-courses" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
            All Courses
          </a>
          <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
            <li><a class="dropdown-item" href="#">Angular</a></li>
            <li><a class="dropdown-item" href="#">.NET Core</a></li>
            <li><a class="dropdown-item" href="#">Azure Cloud</a></li>
          </ul>
        </li>   -->